.achievement__list {
  margin: 25px 0 0;
  padding-left: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.achievement__item {
  border-radius: 3px;
  border: solid 1px #cdcdcd;

  padding: 12px 12px 15px;
  width: 124px;

  text-align: center;

  position: relative;
}

.achievement__value {
  font-size: 24px;
  text-align: center;
  color: $main-text-color;
  text-transform: uppercase;
  font-weight: normal;

  display: block;
}

.achievement__name {
  font-family: $secondary-font;
  font-size: 12px;
  text-align: center;
  color: $secondary-text-color;
  text-transform: lowercase;
  font-weight: normal;

  position: absolute;
  left: 18px;
  top: 46px;

  display: block;
  padding: 0 15px;
  width: 88px;

  background: $secondary-color;
}

.achievement__cost {
  font-size: 14px;
  text-align: center;
  color: $main-text-color;
  text-transform: uppercase;
  font-weight: normal;

  margin: 37px 0 0;
}
