.advantage {
  margin-top: 3px;
}

.advantage__list {
  padding-left: 0;
  list-style: none;
  margin: 40px 0 0;
}

.advantage__item {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.advantage__text {
  margin-left: 20px;
}
