.button {
  display: block;
  width: 100%;
  padding: 12px 15px 11px;
  border: none;

  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 17.5px;

  &--green {
    background-color: $main-color;
    color: #ffffff;

    &:hover,
    &:focus {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--light {
    background-color: $secondary-color;
    color: $secondary-text-color;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &--small-text {
    font-size: 14px;
  }

  &--cat-food {
    width: calc(100% - 40px);
  }
}

@media (min-width: $tablet) {
  .button {
    &--cat-food {
      width: 245px;
      padding: 17px 15px 18px;

      font-size: 20px;
    }

    &--show-all {
      max-width: 249px;
      width: 100%;
    }

    &--form {
      width: 283px;
      padding: 18px;

      font-size: 20px;
    }
  }
}

@media (min-width: $desktop) {
  .button {
    padding: 13px 15px 11px;

    &--cat-food {
      height: 52px;
      padding: 17px 15px 18px;
    }

    &--form {
      width: 46.5%;
      margin-left: 2px;
      padding: 18px 15px 17px;
    }

    &--order {
      padding: 12px 15px 11px;
    }
  }
}
