.cat-food__container {
  background-color: $main-color;
  width: 100%;
  height: 305px;

  padding: 25px 0;
}

.cat-food__description {
  margin: 25px 0 0;
}

.cat-food__image {
  margin-top: -140px;
}

@media (min-width: $tablet) {
  .cat-food__container {
    background-color: unset;
  }
}
