.cat-food {
  position: relative;
}

.cat-food__background {
  background-color: $main-color;

  height: 305px;
  width: 100%;

  position: absolute;
  z-index: -1;
}

.cat-food__container {
  padding-top: 26px;
}

.cat-food__description {
  margin-top: 24px;
}

.cat-food__button {
  margin-top: 300px;
}

.cat-food__image {
  display: block;

  position: absolute;
  top: 166px;
}

@media (min-width: $tablet) {
  .cat-food__background {
    display: none;
  }

  .cat-food__container {
    padding: 56px 0 0 87px;
  }

  .cat-food__description {
    margin-top: 42px;
  }

  .cat-food__button {
    margin-top: 49px;
    margin-bottom: 530px;
    margin-left: 2px;
  }

  .cat-food__image {
    top: 256px;
    height: 609px;
    width: 709px;

    z-index: -1;
  }
}

@media (min-width: $desktop) {
  .cat-food__background {
    display: block;
    height: 696px;
    width: 720px;

    top: -117px;
    right: 0;
  }

  .cat-food__container {
    padding-top: 105px;
    padding-left: 80px;
  }

  .cat-food__description {
    margin-top: 42px;
  }

  .cat-food__button {
    margin-top: 54px;
    margin-bottom: 268px;
    margin-left: 0;
  }

  .cat-food__image {
    width: 552px;
    height: 499px;

    top: 25px;
    left: 585px;
  }
}
