.cat-food {
  position: relative;
}

.cat-food__background {
  background-color: $main-color;

  height: calc(100% - 200px);
  width: 100%;

  position: absolute;
  z-index: -1;
}

.cat-food__container {
  padding: 26px 0;
  min-height: 138px;
}

.cat-food__description {
  margin-top: 24px;
}

.cat-food__button {
  position: absolute;
  bottom: 23px;
}

.cat-food__image {
  display: block;

  position: absolute;
  bottom: 67px;
  left: calc(50% - 140px);
}

@media (min-width: $tablet) {
  .cat-food__background {
    display: none;
  }

  .cat-food__container {
    padding: 56px 0 0 87px;
    min-height: 177px;
  }

  .cat-food__description {
    margin-top: 42px;
  }

  .cat-food__button {
    bottom: 529px;

    margin-left: 2px;
  }

  .cat-food__image {
    left: calc(50% - 355px);
    bottom: 0;

    height: 609px;
    width: 709px;

    z-index: -1;
  }
}

@media (min-width: $desktop) {
  .cat-food__background {
    background-color: $main-color;
    position: absolute;
    z-index: -1;

    display: block;
    height: 696px;
    width: 50%;

    top: -117px;
    right: 0;
  }

  .cat-food__container {
    padding: 105px 0 0 80px;
    width: 410px;
  }

  .cat-food__description {
    margin-top: 42px;
  }

  .cat-food__button {
    position: static;

    margin-top: 54px;
    margin-left: 0;
  }

  .cat-food__image {
    width: 552px;
    height: 499px;

    top: 25px;
    left: calc(50% - 160px);
  }
}
