.contact {
  background-color: $secondary-color;
  padding: 31px 0 0;

  &--main {
    background-color: #ffffff;
  }
}

.contact__title {
  margin: 0;

  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: $main-text-color;
  text-transform: uppercase;
}

.contact__address {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  color: $secondary-text-color;

  margin: 0;
}

.contact__map {
  position: relative;
}

.contact__map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.contact__map img {
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

