.contact {
  background-color: $secondary-color;

  &--main {
    background-color: #ffffff;
  }
}

.contact__text-container {
  display: flex;
  justify-content: space-between;
}

.contact__title {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: $main-text-color;
  text-transform: uppercase;

  margin: 0;
  width: 123px;
}

.contact__address {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: $secondary-text-color;

  margin: 0;
  width: 135px;
}

.contact__map-container {
  position: relative;

  margin-top: 25px;
}

.contact__map {
  position: relative;
  z-index: 2;

  border: none;
}

.contact__map-image {
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

