.copyright {
  padding: 21px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &--catalog {
    padding-bottom: 24px;
  }
}

.copyright__link {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: normal;
  color: $secondary-text-color;

  display: block;

  &--text {
    margin-top: -3px;
    margin-left: -1px;

    &:active {
      opacity: 0.3;
    }
  }

  &--catalog {
    margin-top: -6px;
  }
}

.copyright__image {
  fill: #666666;

  &:hover,
  &:focus {
    fill: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .copyright {
    padding: 0;
    width: 163px;
    margin-top: -3px;
  }

  .copyright__link {
    &--text {
      margin-top: 0;
    }

    &--up {
      margin-top: -3px;
    }
  }

  .copyright__image {
    margin-top: 2px;
  }
}

@media (min-width: $desktop) {
  .copyright__image {
    margin-top: 4px;
  }

  .copyright__link {
    &--up {
      margin-top: 0;
    }
  }
}
