.features {
  display: flex;
}

.features__image-container {
  background-color: $main-color;

  width: 60px;
  height: 60px;
  padding: 5px;
}

.features__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-text-color;
  font-weight: normal;

  margin: 0;

  width: 200px;
}

@media (min-width: $tablet) {
  .features {
    width: 245px;
    height: 235px;

    flex-direction: column;
  }

  .features__image-container {
    background-color: $main-color;

    width: 80px;
    height: 80px;
    padding: 15px;
  }

  .features__text {
    font-size: 16px;
    line-height: 24px;

    width: 205px;
  }
}

@media (min-width: $desktop) {

}
