.field {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  color: #222222;
  text-transform: uppercase;

  input,
  textarea {
    padding: 15px 15px 12px;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.13;
    color: $secondary-text-color;
    text-transform: uppercase;
  }

  &--text {
    input {
      margin-left: 10px;
    }
  }
}
