.field {
  &--text,
  &--textarea,
  &--checkbox,
  &--radio {
    padding: 12px;

    &::placeholder {
      font-size: 16px;
      font-weight: normal;
      line-height: 18px;
      color: $secondary-text-color;
      text-transform: uppercase;
    }
  }

  &--text {
    margin-left: 10px;
  }

  &--textarea {
    height: 150px;
    width: 100%;

    resize: none;
  }
}
