.food-program-card {
  width: 100%;
  background-color: $secondary-color;
  padding: 22px 20px;
}

.food-program-card__title {
  font-size: 24px;
  color: $main-text-color;
  text-transform: uppercase;
  font-weight: normal;

  margin: 0;
}

.food-program-card__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-text-color;
  font-weight: normal;

  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}

.food-program-card__link {
  font-size: 16px;
  color: $main-text-color;
  text-transform: uppercase;
  font-weight: normal;

  display: block;
}
