.form__fieldset {
  border: none;
  padding: 26px 0 22px;

  &--no-title {
    border-bottom: 1px solid #d9d9d9;
  }

  &--chose-program {
    padding: 0 0 27px;
  }

  &--master-data {
    padding: 28px 0 0;
  }

  &--comment {
    padding: 26px 0 0;
  }

  &--extra {
    padding: 28px 0 0;
  }
}

.form__legend {
  font-size: 24px;
  font-weight: normal;
  color: $main-text-color;
  line-height: 24px;
  margin-left: -3px;
}

.form__list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  &--master-data {
    margin-top: 32px;
  }

  &--comment {
    margin-top: 32px;
  }

  &--extra {
    margin-top: 39px;
  }
}

.form__item {
  margin-top: 10px;

  &--extra {
    margin-top: 25px;
  }

  &--radio {
    margin-top: 25px;
  }
}

.form__description {
  margin: 21px 0 0;

  font-family: $secondary-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
  color: $secondary-text-color;
}

.form__label {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;

  display: flex;
  align-items: baseline;

  position: relative;
}

.form__label-text {
  display: block;
  white-space: nowrap;
  margin-left: -3px;
  margin-right: 15px;

  &--master-data {
    margin-right: 11px;
  }
}

.form__field {
  margin-top: 3px;
}

.form__button-container {
  margin-top: 40px;
}
