.form__fieldset {
  border: none;
  padding: 25px 20px 23px 22px;
  margin: 0 -20px;

  position: relative;

  &--no-title {
    border-bottom: 1px solid #d9d9d9;
  }

  &--chose-program {
    padding-top: 0;
    padding-bottom: 27px;
  }

  &--master-data {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--comment {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
  }

  &--extra {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.form__legend {
  font-size: 24px;
  font-weight: normal;
  color: $main-text-color;
  line-height: 24px;
  background-color: #fff;

  padding-right: 23px;
  padding-left: 23px;
  margin-left: -26px;

  &::before {
    content: "";
    position: absolute;

    width: 100vw;
    height: 3px;
    margin-top: 14px;
    background: $main-color;
    z-index: -1;
  }

  &--master-data,
  &--comment,
  &--extra {
    padding-top: 28px;
  }

  &--comment {
    padding-left: 25px;
    padding-right: 22px;
  }

  &--extra {
    padding-right: 24px
  }

  &--master-data {
    width: 225px;
    padding-right: 19px;
  }
}

.form__list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  &--master-data {
    margin-top: 34px;
  }

  &--comment {
    margin-top: 35px;
  }

  &--extra {
    margin-top: 40px;
  }
}

.form__item {
  margin-top: 14px;

  &--extra {
    margin-top: 12px;
    height: 30px;

    &:nth-child(2) {
      margin-top: 13px;
    }
  }

  &--radio {
    margin-top: 25px;

    &:first-child {
      margin-top: 26px;
    }

    &:last-child {
      margin-top: 24px;
    }
  }
}

.form__description {
  margin: 21px 0 0;

  font-family: $secondary-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
  color: $secondary-text-color;
}

.form__field-icon {
  position: absolute;
  pointer-events: none;

  &--mail {
    right: 16px;
    top: 16px;
  }

  &--phone {
    right: 13px;
    top: 13px;
  }
}

.form__button-container {
  margin-top: 29px;
}

@media (min-width: $tablet) {
  .form {
    margin-left: 45px;
    margin-right: 37px;
  }

  .form__fieldset {
    padding: 46px 0 22px;
    margin: 0;

    &--no-title {
      border-bottom: none;
    }

    &--chose-program {
      border: 1px solid #d9d9d9;
      padding: 32px 28px 36px;
      margin-left: -4px;
      margin-top: 50px;
    }

    &--master-data {
      padding-top: 50px;
    }

    &--comment {
      padding-top: 43px;
    }

    &--extra {
      padding-top: 42px;
    }
  }

  .form__item {
    margin-top: 20px;

    &--radio {
      margin-top: 33px;

      &:first-child {
        margin-top: 0;
      }
    }

    &--extra {
      width: 45.4%;

      &:nth-child(n+3) {
        margin-top: 52px;
      }
    }
  }

  .form__legend {
    font-size: 36px;
    line-height: 36px;

    margin-left: -6px;

    &--master-data {
      padding-top: 77px;
    }

    &--comment {
      padding-top: 44px;
    }

    &--extra {
      padding-top: 40px;
    }
  }

  .form__list {
    &--master-data {
      margin-top: 24px;
    }

    &--comment {
      margin-top: 30px;
    }

    &--extra {
      margin-top: 4px;
      margin-left: -3px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form__button-container {
    display: flex;
    margin-top: 42px;
    margin-left: -5px;
  }

  .form__description {
    margin: 17px 0 0 62px;
    font-size: 16px;
  }

  .form__field-icon {
    &--mail {
      right: 18px;
      top: 21px;
    }

    &--phone {
      right: 15px;
      top: 18px;
    }
  }
}

@media (min-width: $desktop) {
  .form {
    margin-left: 4px;
    margin-right: 0;
  }

  .form__container {
    display: flex;
    justify-content: space-between;
  }

  .form__fieldset {
    &--no-title {
      width: 46.5%;
      padding-bottom: 0;
    }

    &--chose-program {
      width: 47%;
      margin-top: 65px;
      padding: 34px 28px 36px 31px;
    }
  }

  .form__legend {
    &--master-data {
      padding-top: 68px;
    }

    &--comment {
      padding-top: 46px;
    }

    &--extra {
      padding-top: 43px;
    }
  }

  .form__list {
    &--master-data {
      display: flex;
      justify-content: space-between;

      margin-top: 5px;
    }
  }

  .form__item {
    &--master-data {
      &:nth-child(2n-1) {
        width: 46.5%;
      }

      &:nth-child(2n) {
        width: 47%;
      }
    }

    &--extra {
      width: 20.1%;

      &:nth-child(n+3) {
        margin-top: 20px;
      }

      &:nth-child(n+5) {
        margin-top: 50px;
      }
    }
  }

  .form__button-container {
    margin-top: 50px;
  }

  .form__description {
    margin: 17px 0 0 82px;
  }

  .form__field-icon {
    &--mail {
      right: 20px;
      top: 21px;
    }

    &--phone {
      right: 20px;
      top: 18px;
    }
  }
}
