.living-example {
  background-color: $secondary-color;
}

.living-example__description {
  margin-top: 35px;
}

.living-example__slider {
  margin-top: 56px;
}

@media (min-width: $tablet) {
  .living-example {
    background-color: #ffffff;
  }

  .living-example__achievement {
    display: flex;
    justify-content: space-between;
  }

  .living-example__description {
    margin-top: 64px;
  }

  .living-example__slider {
    margin-top: 106px;
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media (min-width: $desktop) {
  .living-example__container {
    display: flex;
    justify-content: flex-start;

    position: relative;
    z-index: 3;
  }

  .living-example__content {
    width: 701px;
  }

  .living-example__description {
    margin-top: 145px;
  }

  .living-example__slider {
    margin: 0;
  }
}
