.living-example {
  background-color: $secondary-color;
}

.living-example__description {
  margin-top: 35px;
}

.living-example__slider {
  margin-top: 35px;
}

@media (min-width: $tablet) {
  .living-example__achievement {
    display: flex;
    justify-content: space-between;
  }

  .living-example__description {
    margin-top: 64px;
  }

  .living-example__slider {
    margin-top: 87px;
  }
}
