.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &--footer {
    padding: 38px 25px 29px;
  }

  &--footer-catalog {
    padding: 38px 25px 29px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__link {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  &--footer {
    height: 24px;
  }
}

@media (min-width: $tablet) {
  .logo {
    &--footer {
      padding: 0;
    }
  }

  .logo__image {
    &--header {
      width: 174px;
      height: 59px;
    }
  }
}

@media (min-width: $desktop) {
  .logo {
    &--catalog {
      margin-top: -1px;
    }
  }

  .logo__image {
    &--header {
      width: 203px;
      height: 60px;
      margin-top: -1px;
    }
  }
}
