.main-nav {
  display: none;
  margin-left: -20px;
  margin-right: -20px;

  &--no-js,
  &--opened {
    display: block;
  }
}

@media (min-width: $tablet) {
  .main-nav {
    display: block;
  }
}

@media (min-width: $desktop) {

}
