.menu-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.menu-list__item {
  border-bottom: 1px solid #d9d9d9;

  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:first-child {
    border-top: 1px solid #d9d9d9;
  }
}

.menu-list__link {
  font-size: 20px;
  font-weight: 700;
  color: $main-text-color;
  text-transform: uppercase;

  display: block;
  padding: 21px 20px;
  width: 100%;
}

@media (min-width: $tablet) {
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    width: calc(100vw - (768px - 500px));
  }

  .menu-list__item {
    border-bottom: none;

    &:first-child {
      border-top: none;
    }
  }

  .menu-list__link {
    font-size: 18px;
    padding: 20px 20px 20px 15px;
    font-weight: 400;

    &--catalog {
      padding-right: 21px;
    }
  }

  .menu-list__link-text {
    &--current {
      padding-bottom: 7px;
      border-bottom: 2px solid $main-color;
    }
  }
}

@media (min-width: $desktop) {
  .menu-list {
    width: 600px;
  }

  .menu-list__link {
    font-size: 20px;
    padding: 20px 20px 20px 14px;

    &--main {
      color: #fff;
    }
  }

  .menu-list__link-text {
    &--main {
      border-bottom-color: #fff;
    }
  }
}
