.price {
  background-color: $main-color;

  height: 289px;
  padding: 187px 43px 60px;
}

.price__text {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  margin: 0;
}

@media (min-width: $tablet) {
  .price {
    height: 200px;
    padding: 1px 0 0;
  }

  .price__text {
    width: 165px;
    text-align: left;

    margin-left: auto;
    margin-right: 120px;
    margin-top: 71px;
  }
}
