.price {
  background-color: $main-color;

  height: 289px;
  padding: 187px 43px 60px;
}

.price__text {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  margin: 0;
}
