.product__wrapper {
  display: flex;
}

.product__list {
  padding-left: 0;
  list-style: none;
  margin: 33px 0 0;
}

.product__item {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 22px;

  &:first-child {
    border-top: 1px solid #d9d9d9;
  }

  &--addition {
    padding: 11px 0 15px;
  }
}

.product__link {
  display: block;

  &--name {
    margin-top: 23px;
    width: 74px;
  }
}

.product__name {
  margin: 0;
  font-size: 16px;
  color: $main-text-color;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.product__options {
  margin-top: 11px;
}

.product__button {
  display: block;

  &--addition {
    margin-top: 12px;
  }
}
