.program-card {
  width: 100%;
  background-color: $secondary-color;
  padding: 22px 20px 21px;

  position: relative;
}

.program-card__title {
  font-size: 24px;
  color: $main-text-color;
  text-transform: uppercase;
  font-weight: normal;

  margin: 0;
}

.program-card__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-text-color;
  font-weight: normal;

  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.program-card__link {
  font-size: 16px;
  color: $main-text-color;
  text-transform: uppercase;
  font-weight: normal;

  display: block;
  width: 165px;

  position: relative;

  &::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 24.2 11'%3E%3Cpolygon points='17.6,0 24.2,5.5 17.6,11 17.6,6.6 0,6.6 0,4.4 17.6,4.4 '/%3E%3C/svg%3E");
    width: 25px;
    height: 12px;

    position: absolute;
    top: -2px;
  }

  &--slim {
    &::after {
      left: 96px;
    }
  }

  &--pro {
    &::after {
      left: 94px;
    }
  }

  &:hover,
  &:focus {
    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 32 11'%3E%3Cpolygon points='25.4,0 32,5.5 25.4,11 25.4,6.6 0,6.6 0,4.4 25.4,4.4 '/%3E%3C/svg%3E");
      width: 34px;
      height: 12px;

      top: -2.5px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.program-card__image-container {
  width: 50px;
  height: 50px;

  position: absolute;
  top: 23px;
  left: 22px;

  border-radius: 50%;
  background-color: $main-color;
}

.program-card__image {
  position: absolute;

  &--slim {
    top: -2px;
    left: 8px;
  }

  &--pro {
    top: 11px;
    left: -9px;
  }
}

@media (min-width: $tablet) {
  .program-card {
    padding: 74px 53px 59px;
  }

  .program-card__title {
    font-size: 36px;
  }

  .program-card__description {
    font-size: 16px;
    line-height: 24px;

    padding-right: 230px;
    padding-bottom: 0;

    border-bottom: none;

    &--mass-gain {
      padding-right: 260px;
    }
  }

  .program-card__link {
    font-size: 20px;

    &::after {
      top: -3px;
    }

    &--slim {
      &::after {
        left: 130px;
      }
    }

    &--pro {
      &::after {
        left: 124px;
      }
    }

    &:hover,
    &:focus {
      &::after {
        top: -3px;
      }
    }
  }

  .program-card__image-container {
    width: 200px;
    height: 200px;

    left: unset;

    &--slim {
      top: 92px;
      right: 62px;
    }

    &--pro {
      right: 60px;
      top: 91px;
    }
  }

  .program-card__image {
    &--slim {
      width: 141px;
      height: 194px;

      top: -12px;
      left: 30px;
    }

    &--pro {
      width: 268px;
      height: 113px;

      top: 43px;
      left: -36px;
    }
  }
}

@media (min-width: $desktop) {
  .program-card {
    max-width: 570px;
    width: 100%;
    min-height: 372px;
    padding: 75px 52px 60px;

    &:nth-child(2n-1) {
      margin-right: 20px;
    }
  }

  .program-card__title {
    padding-left: 163px;
  }

  .program-card__description {
    padding-right: 0;
  }

  .program-card__image-container {
    width: 100px;
    height: 100px;

    top: 49px;
    left: 52px;
    right: unset;
  }

  .program-card__image {
    &--slim {
      width: 71px;
      height: 97px;

      top: -7px;
      left: 14px;
    }

    &--pro {
      width: 134px;
      height: 57px;

      top: 21px;
      left: -18px;
    }
  }
}
