.program-type__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.program-type__item:not(:first-child) {
  margin-top: 20px;
}

.program-type__title {
  margin-top: 10px;
  margin-left: 70px;
}

.program-type__description {
  margin-top: 35px;
}

.program-type__link {
  margin-top: 18px;
}
