.product__wrapper {
  display: flex;
  justify-content: center;
}

.product__list {
  padding-left: 0;
  list-style: none;
  margin: 0;

  &--addition {
    margin-top: 32px;
  }
}

.product__item {
  border-bottom: 1px solid #d9d9d9;

  padding: 11px 0 17px;

  &:first-child {
    border-top: 1px solid #d9d9d9;
  }

  &--main {
    padding: 0 20px 22px;
    margin-left: -20px;
    margin-right: -20px;
  }
}

.product__link {
  display: block;

  &--name {
    margin-top: 22px;
  }
}

.product__name {
  margin: 0;

  font-size: 16px;
  color: $main-text-color;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;

  &--main {
    width: 74px;
  }
}

.product__options {
  margin-top: 8px;

  &--main {
    margin-top: 12px;
  }
}

.product__button {
  display: block;
  margin-top: 0;

  &--addition {
    margin-top: 11px;
  }
}

@media (min-width: $tablet) {
  .product__list {
    &--main {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &--addition {
      margin-top: 0;
    }
  }

  .product__item {
    border: 1px solid #d9d9d9;
    padding: 26px 36px 26px 37px;

    &--main {
      border: none;

      min-height: 431px;
      width: 45.8%;
      margin: 140px 0 0;
      padding: 0 37px 22px 38px;

      background-color: $secondary-color;
      position: relative;

      &:first-child {
        border-top: none;
      }
    }

    &--addition {
      padding: 26px 36px 27px 37px;

      &:nth-child(n + 1) {
        margin-top: -1px;
      }
    }
  }

  .product__container {
    display: flex;
    justify-content: space-between;
  }

  .product__link {
    &--image {
      position: absolute;
      bottom: 303px;
      z-index: 3;
    }

    &--name {
      margin: 0 auto;
      width: 131px;
    }
  }

  .product__wrapper {
    margin-top: 163px;
  }

  .product__text-wrapper {
    flex-direction: column;

    width: 100%;
  }

  .product__name {
    text-align: center;
    font-size: 20px;

    width: unset;
    margin-left: 1px;
  }

  .product__options {
    margin-top: 17px;
  }

  .product__button {
    margin-top: 31px;

    &--addition {
      margin-top: 22px;
    }
  }

  .product__image {
    width: 324px;
    height: 173px;

    &--chicken-500 {
      height: 172px;
    }

    &--fish-500,
    &--rice-500 {
      height: 174px;
    }

    &--buckwheat-500 {
      margin-bottom: -2px;
      height: 174px;
    }

    &--chicken-1000,
    &--fish-1000,
    &--buckwheat-1000 {
      height: 208px;
    }
  }
}

@media (min-width: $desktop) {
  .product {
    width: 100%;
    margin-right: 79px;
  }

  .product__item {
    border-left: none;
    border-right: none;

    &--main {
      width: 20.1%;
      margin: 142px 0 0;
      padding: 0 36px 22px;
      min-height: 431.5px;
    }

    &--addition {
      display: flex;
      justify-content: space-between;
      align-items: center;

      max-width: 895px;
      width: 100%;
      padding: 19px 0 11px;
    }
  }

  .product__button {
    margin-top: 32px;
    margin-left: 2px;
    width: 169px;

    &--addition {
      margin: -4px 1px 4px 36px;
      width: 345px;
    }
  }

  .product__text-wrapper {
    margin-right: 1px;
  }

  .product__container {
    width: 100%;

    align-items: baseline;
  }

  .product__link {
    &--image {
      left: calc(25% - 61px);
      bottom: 301.5px;
    }

    &--fish-500 {
      bottom: 300.5px;
    }

    &--buckwheat-500,
    &--buckwheat-1000 {
      bottom: 303px;
    }
  }

  .product__wrapper {
    margin-top: 163.5px;
  }

  .product__options {
    margin-top: 18px;
  }

  .product__image {
    width: 245px;
  }
}
