.section {
  padding: 25px 0;

  &--cat-food,
  &--addition {
    padding-top: 0;
  }

  &--advantage {
    padding-bottom: 40px;
  }

  &--living-example {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  &--contact {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.section__title {
  font-size: 36px;
  color: $main-text-color;
  font-weight: normal;
  line-height: 36px;

  margin: 0;

  &--cat-food {
    text-align: center;
    color: #ffffff;
  }
}

.section__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-text-color;
  font-weight: normal;

  margin: 0;

  &--program-selection {
    font-family: inherit;
    color: $main-text-color;
    text-transform: uppercase;
  }

  &--cat-food {
    font-family: inherit;
    color: #ffffff;
    text-transform: uppercase;
  }
}
