.slider__list {
  margin: -20px auto;
  padding-left: 0;
  width: 280px;

  list-style: none;
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__image {
  margin-left: -20px;
  margin-right: -20px;
  max-width: none;
}

.slider__toggle {
  margin-top: 51px;
  margin-left: 5px;
}

@media (min-width: $tablet) {
  .slider {
    position: relative;
  }

  .slider__list {
    width: 100%;
    min-height: 631px;
    margin-bottom: 0;

    position: relative;
  }

  .slider__item {
    display: block;
    height: 100%;
    width: 50%;

    position: absolute;
    overflow-x: hidden;

    &--after {
      margin-left: 50%;
    }
  }

  .slider__image {
    width: 690px;
    height: 517px;
    display: block;
    margin-right: 0;

    &--before {
      margin-left: calc((100vw - 677px) / 2);
    }

    &--after {
      margin-left: calc(((100vw - 677px) / 2) - 50vw);
    }
  }

  .slider__toggle {
    margin-top: 0;
    margin-left: 3px;

    bottom: 68px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
  }
}

@media (min-width: $desktop) {
  .slider {
    width: 100%;
    background: none;
    left: 102px;
  }

  .slider__list {
    min-height: 652px;
    position: absolute;
    bottom: -70px;
  }

  .slider__item {
    &--after {
      width: 100vw;
    }
  }

  .slider__toggle {
    margin-top: 0;
    margin-left: 2px;

    bottom: -2px;
    left: 2px;
  }

  .slider__image {
    &--before {
      margin-left: 23px;
    }

    &--after {
      margin-left: -364px;
    }
  }
}
