.slider__list {
  margin: -20px auto;
  padding-left: 0;
  width: 280px;

  list-style: none;
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__image {
  margin-left: -20px;
  margin-right: -20px;
  max-width: unset;
}

.slider__toggle {
  margin-top: 51px;
  margin-left: 5px;
}

@media (min-width: $tablet) {
  .slider {
    position: relative;
    background: linear-gradient(#ffffff, #ffffff 26.8%, $secondary-color 26.8%);
  }

  .slider__list {
    width: 100%;
    min-height: 631px;

    position: relative;
  }

  .slider__item {
    display: block;
    height: 100%;
    width: 50%;
    padding-bottom: 68px;

    position: absolute;
    overflow: hidden;

    &--after {
      margin-left: 50%;
      background: linear-gradient(#fff, #fff 26.8%, #eaeaea 26.8%);
    }
  }

  .slider__image {
    width: 690px;
    height: 517px;
    display: block;
    margin-right: 0;

    &--before {
      margin-left: calc((100vw - 677px) / 2);
    }

    &--after {
      margin-left: calc(((100vw - 677px) / 2) - 50vw);
    }
  }

  .slider__toggle {
    margin-top: 0;

    bottom: 68px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
  }
}

@media (min-width: $desktop) {
  .slider__toggle {
    margin-top: 39px;
    margin-left: 91px;
  }
}
