.slider__list {
  margin: 0 auto;
  padding-left: 0;
  width: 320px;

  list-style: none;
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__toggle {
  margin-top: 32px;
}

@media (min-width: $tablet) {
  .slider__list {
    width: 676px;
    height: 516px;

    position: relative;
  }

  .slider__image {
    width: 676px;
    height: 516px;
    margin-left: 5px;

    position: absolute;
  }

  .slider__item {
    display: block;
  }

  .slider__toggle {
    margin-top: 18px;
  }
}
