.social {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding-top: 3px;
}

.social__list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-left: -11px;
}

.social__item {
  padding: 19px;

  &--vk {
    margin-top: -3px;
  }
}

.social__icon {
  fill: #666666;

  &:hover,
  &:focus {
    fill: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .social {
    padding: 0;
    margin-left: 19px;
    margin-top: -4px;
  }

  .social__list {
    margin: 0;
  }

  .social__item {
    padding: 20px 14px;
  }

  .social__icon {
    &--vk {
      width: 30px;
      height: 16px;
      margin: 2px 0 0;
    }

    &--instagram {
      width: 23px;
      height: 23px;
      margin: 0;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }
}
