.table {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: normal;

  width: 100%;

  &--main {
    font-size: 12px;
  }
}

.table__row {
  display: flex;
  justify-content: space-between;

  min-width: 143px;
  width: 100%;
  margin: 0 -4px 1px -3px;
}

.table__cell {
  &--currency {
    text-transform: uppercase;
  }
}

@media (min-width: $tablet) {
  .table {
    font-size: 16px;

    &--addition {
      margin-top: 3px;
      margin-right: -3px;
      width: 229px;

      border-collapse: collapse;
    }
  }

  .table__row {
    margin: 0 0 0 -2px;
    padding: 6px 0 5px;

    border-bottom: 1px solid #d9d9d9;

    &--addition {
      border-bottom: none;

      width: 100%;
      padding: 0;

      justify-content: flex-end;
    }
  }

  .table__cell {
    &--addition {
      min-width: 95px;
      text-align: right;
    }

    &--second {
      margin-right: -5px;
    }
  }
}

@media (min-width: $desktop) {
  .table {
    &--addition {
      text-align: left;

      max-width: 290px;
      width: 100%;
      margin-top: 0;
    }
  }

  .table__row {
    &--addition {
      justify-content: space-between;

      max-width: 290px;
    }
  }

  .table__cell {
    &--addition {
      text-align: left;
    }

    &--currency {
      text-align: right;
    }

    &--short-value {
      padding-right: 9px;
    }
  }
}
